@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
 
body {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
    perspective: 600px; /* Ajoutez cette ligne */
}

.cell {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2); /* Ajoutez cette ligne */
    transition: transform 0.5s; /* Ajoutez cette ligne */
    position: relative; /* Ajoutez cette ligne */
}

.cell:hover {
    box-shadow: 0 10px 10px rgba(0,0,0,0.1); /* Ajoutez cette ligne */
    transform: rotateY(180deg); /* Ajoutez cette ligne */
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 1em;
    cursor: pointer;
}

#mode-options {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#mode-options label {
    margin-right: 10px;
}
