@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #0a0a0a;
    color: #FFD700;
}

button {
    font-family: 'Press Start 2P', cursive;
    background-color: #333;
    color: #FFD700;
    border: 2px solid #FFD700;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 15px;
    margin-top: 20px;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

button:hover {
    background-color: #555;
    transform: scale(1.05);
}

#snakeGame {
    width: 400px;
    height: 400px;
    display: none;
    margin-bottom: 20px;
}

#difficultySelection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#restartButton,
#backToDifficultyButton {
    display: none;
    margin-top: 20px;
}

.canvas {
    font-family: 'Press Start 2P', cursive;
    color: #FFD700;
    text-align: center;
    display: block;
}

.radio-container {
    font-family: 'Press Start 2P', cursive;
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 40px;
    cursor: pointer;
    font-size: 22px;
    color: #FFD700;
    text-align: left;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid #FFD700;
}

.radio-container input:checked~.checkmark {
    background-color: #FFD700;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #0a0a0a;
}

.radio-container input:checked~.checkmark:after {
    display: block;
}

#snakeGame {
    border: 2px solid yellow;
}

#scoreBoard {
    font-family: 'Press Start 2P', cursive;
    color: #FFD700;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
}

#gameOverMessage {
    font-family: 'Press Start 2P', cursive;
    color: #FFD700;
    text-align: center;
    margin-bottom: 30px;
}