<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil des Jeux</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h1>Choisissez un jeu à jouer</h1>
    <button class="game-button" onclick="location.href='snake.html'">Snake</button>
    <button class="game-button" onclick="location.href='morpion.html'">Morpion</button>
    <button class="game-button" onclick="location.href='vitesseFrappe.html'">Calculateur de vitesse de frappe</button>
    <button class="game-button" onclick="location.href='visualMemoryTest.html'">Test de mémoire visuelle</button>
    <button class="game-button" onclick="location.href='triBulle.html'">Tri à bulle visuel</button>
</body>
</html>
