<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../assets/css/morpion.css">
</head>
<body>
    <div class="center">
        <div id="modeSelection">
            <label class="radio-container">computer
              <input type="radio" checked="checked" name="mode" value="computer">
              <span class="checkmark"></span>
            </label>
            <label class="radio-container">player
              <input type="radio" name="mode" value="player" checked="checked">
              <span class="checkmark"></span>
            </label>
    </div>
    <a href="morpion.html" class="button">Commencer le jeu</button></a>
    <script src="../assets/js/morpion.js"></script>

</body>
</html>
