<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../assets/css/morpion.css">
</head>
<body>
    <div class="center">
        <div id="modeSelection">
            <label class="radio-container">Ordinateur
              <input type="radio" checked="checked" name="mode" value="Ordinateur">
              <span class="checkmark"></span>
            </label>
            <label class="radio-container">Local
              <input type="radio" name="mode" value="Local">
              <span class="checkmark"></span>
            </label>
            
    </div>
    <a href="morpion.html" class="button">Commencer le jeu</button></a>

</body>
</html>
