<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Jeu du Serpent</title>
    <link rel="stylesheet" href="../assets/css/snake.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="difficultySelection">
        <button onclick="startGame('easy')">Facile</button>
        <button onclick="startGame('medium')">Moyen</button>
        <button onclick="startGame('hard')">Difficile</button>
        <button onclick="startGame('extreme')">Extrême</button>
    </div>
    <div id="gameOverMessage" class="hidden">
        Partie terminée.
    </div>

    <div id="scoreBoard" class="hidden">
        Score : 0
    </div>

    <canvas id="snakeGame" width="400" height="400" class="hidden"></canvas>

    <button id="restartButton" class="hidden">Rejouer</button>
    <button id="backToDifficultyButton" class="hidden">Choisir Difficulté</button>

    <script src="../assets/js/snake.js"></script>
</body>

</html>